0000000000000.json
{"name":"Video_AutoGen","nodes":[{"parameters":{"values":[{"name":"data","value":"Texto de ejemplo para generar guion"}],"options":{}},"id":"Set_Data","name":"Set Data","type":"n8n-nodes-base.set","typeVersion":2,"position":[200,300]},{"parameters":{"resource":"completion","model":"gpt-3.5-turbo","prompt":"{{ $json.data }}"},"id":"OpenAI_Guion","name":"Generar Guion OpenAI","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[400,300],"credentials":{"openAiApi":{"id":"{{TU_OPENAI_API_KEY}}","name":"OpenAI API"}}},{"parameters":{"command":"gtts-cli \"{{$json.data}}\" --output /tmp/voice.mp3"},"id":"TTS_gTTS","name":"Texto a Voz gTTS","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[600,300]},{"parameters":{"url":"https://api-inference.huggingface.co/models/stabilityai/stable-diffusion-2","method":"POST","sendBody":true,"jsonBody":{"inputs":"{{ $json.data }}"},"responseFormat":"file","options":{}},"id":"HF_Image","name":"Generar Imagen HF","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[800,300],"credentials":{"httpHeaderAuth":{"id":"{{TU_HUGGINGFACE_API_KEY}}","name":"HuggingFace API"}}},{"parameters":{"fileName":"/tmp/imagen.png","dataPropertyName":"data"},"id":"Write_Image","name":"Guardar Imagen","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[1000,300]},{"parameters":{"command":"ffmpeg -y -loop 1 -i /tmp/imagen.png -i /tmp/voice.mp3 -c:v libx264 -c:a aac -b:a 192k -shortest /tmp/video.mp4"},"id":"FFmpeg_Video","name":"Unir Video FFmpeg","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1200,300]},{"parameters":{"operation":"upload","binaryProperty":"data","title":"Video generado automáticamente","description":"Subido por workflow n8n","privacyStatus":"public"},"id":"YouTube_Upload","name":"Subir a YouTube","type":"n8n-nodes-base.youtube","typeVersion":1,"position":[1400,300],"credentials":{"youtubeOAuth2Api":{"id":"{{TU_YT_CLIENT_ID}}","name":"YouTube OAuth2"}}},{"parameters":{"url":"https://graph.facebook.com/v15.0/{{TU_INSTAGRAM_ID}}/media","method":"POST","sendBody":true,"jsonBody":{"video_url":"{{URL_VIDEO}}","caption":"Video generado automáticamente"},"options":{}},"id":"Instagram_Upload","name":"Subir a Instagram","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1600,300]},{"parameters":{"values":[{"name":"mensaje","value":"Subir manualmente a TikTok"}],"options":{}},"id":"TikTok_Placeholder","name":"TikTok Placeholder","type":"n8n-nodes-base.set","typeVersion":2,"position":[1800,300]}],"connections":{"Set Data":{"main":[[{"node":"Generar Guion OpenAI","type":"main","index":0}]]},"Generar Guion OpenAI":{"main":[[{"node":"Texto a Voz gTTS","type":"main","index":0},{"node":"Generar Imagen HF","type":"main","index":0}]]},"Generar Imagen HF":{"main":[[{"node":"Guardar Imagen","type":"main","index":0}]]},"Guardar Imagen":{"main":[[{"node":"Unir Video FFmpeg","type":"main","index":0}]]},"Texto a Voz gTTS":{"main":[[{"node":"Unir Video FFmpeg","type":"main","index":0}]]},"Unir Video FFmpeg":{"main":[[{"node":"Subir a YouTube","type":"main","index":0}]]},"Subir a YouTube":{"main":[[{"node":"Subir a Instagram","type":"main","index":0}]]},"Subir a Instagram":{"main":[[{"node":"TikTok Placeholder","type":"main","index":0}]]}},"active":false,"settings":{},"id":"Workflow_AutoGen"}