0000globaffipro.json
{
  "nodes": [
    {
      "parameters": {
        "sheetId": "TU_GOOGLE_SHEET_ID",
        "range": "Afiliados!A1:Z1000"
      },
      "name": "Leer Datos Afiliados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "functionCode": "return items.filter(item => item.json.estado === 'pendiente');"
      },
      "name": "Filtrar Pendientes",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 100]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{\"inputs\": \"Genera copy promocional corto y efectivo para {{$json[\\\"producto\\\"]}}, enfocado en público de {{$json[\\\"pais\\\"]}} para {{$json[\\\"red_social\\\"]}}.\"}",
        "url": "https://api-inference.huggingface.co/models/gpt-2"
      },
      "name": "Generar Texto IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{\"prompt\": \"Crea imagen promocional para producto {{$json[\\\"producto\\\"]}} para mercado {{$json[\\\"pais\\\"]}} con estilo visual moderno.\", \"steps\": 20, \"width\": 512, \"height\": 512}",
        "url": "https://api.stablediffusionapi.com/v1/text2img"
      },
      "name": "Generar Imagen IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [890, 100]
    },
    {
      "parameters": {
        "functionCode": "const texto = $node[\"Generar Texto IA\"].json[0]?.generated_text || '';\nconst img = $node[\"Generar Imagen IA\"].json?.images[0] || '';\nconst urlAudio = `https://texttospeech.googleapis.com/v1/text:synthesize?key=TU_API_KEY&text=${encodeURIComponent(texto)}`;\nreturn [{json: {texto_promocional: texto, url_imagen: img, url_audio: urlAudio}}];"
      },
      "name": "Compilar Video",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 100]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "headers": [{ "name": "Authorization", "value": "Bearer TU_BITLY_API_TOKEN" }],
        "jsonParameters": true,
        "bodyParametersJson": "{\"long_url\": \"{{$json[\\\"enlace_afiliado\\\"]}}?utm_source={{$json[\\\"red_social\\\"]}}&utm_campaign=afiliados_{{$json[\\\"pais\\\"]}}_{{$json[\\\"producto\\\"]}}\"}",
        "url": "https://api-ssl.bitly.com/v4/shorten"
      },
      "name": "Acortar enlace Bitly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1260, 100]
    },
    {
      "parameters": {
        "text": "{{$node[\"Generar Texto IA\"].json[0]?.generated_text}} {{$node[\"Acortar enlace Bitly\"].json.link}}",
        "mediaUrls": ["{{$node[\"Generar Imagen IA\"].json.images[0]}]"],
        "operation": "create",
        "channel": "instagram"
      },
      "name": "Publicar Instagram",
      "type": "n8n-nodes-base.instagram",
      "typeVersion": 1,
      "position": [1450, 50]
    },
    {
      "parameters": {
        "text": "{{$node[\"Generar Texto IA\"].json[0]?.generated_text}} {{$node[\"Acortar enlace Bitly\"].json.link}}",
        "image_url": "{{$node[\"Generar Imagen IA\"].json.images[0]}}",
        "operation": "uploadPhoto"
      },
      "name": "Publicar Pinterest",
      "type": "n8n-nodes-base.pinterest",
      "typeVersion": 1,
      "position": [1450, 150]
    },
    {
      "parameters": {
        "text": "{{$node[\"Generar Texto IA\"].json[0]?.generated_text}} {{$node[\"Acortar enlace Bitly\"].json.link}}",
        "mediaUrl": "{{$node[\"Generar Imagen IA\"].json.images[0]}}",
        "operation": "post",
        "platform": "twitter"
      },
      "name": "Publicar Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/me/photos",
        "jsonParameters": true,
        "bodyParametersJson": "{\"caption\": \"{{$node[\\\"Generar Texto IA\\\"].json[0]?.generated_text}} {{$node[\\\"Acortar enlace Bitly\\\"].json.link}}\", \"url\": \"{{$node[\\\"Generar Imagen IA\\\"].json.images[0]}}\", \"access_token\": \"TU_TOKEN_FACEBOOK\"}"
      },
      "name": "Publicar Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 350]
    },
    {
      "parameters": {
        "text": "{{$node[\"Generar Texto IA\"].json[0]?.generated_text}} {{$node[\"Acortar enlace Bitly\"].json.link}}",
        "mediaUrls": ["{{$node[\"Generar Imagen IA\"].json.images[0]}]"],
        "operation": "createVideo"
      },
      "name": "Publicar TikTok",
      "type": "custom.n8n-nodes-base.tiktok",
      "typeVersion": 1,
      "position": [1450, 450]
    },
    {
      "parameters": {
        "resource": "posts",
        "operation": "create",
        "content": "{{$node[\"Generar Texto IA\"].json[0]?.generated_text}} {{$node[\"Acortar enlace Bitly\"].json.link}}",
        "visibility": "PUBLIC"
      },
      "name": "Publicar LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 550]
    },
    {
      "parameters": {
        "chatId": "TU_TELEGRAM_CHAT_ID",
        "text": "Nueva oferta disponible: {{$node[\"Generar Texto IA\"].json[0]?.generated_text}} {{$node[\"Acortar enlace Bitly\"].json.link}}"
      },
      "name": "Alerta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "apiEndpoint": "https://api.whatsapp.com/send?phone=TU_NUMERO&text=Hola%20quiero%20informacion%20de%20{{$json[\"producto\"]}}%20{{$node[\"Acortar enlace Bitly\"].json.link}}",
        "requestMethod": "GET"
      },
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "sheetId": "TU_GOOGLE_SHEET_ID",
        "range": "Afiliados!A2:Z",
        "updateKey": "id",
        "valueInputOption": "RAW",
        "dataMode": "autoMapInputData"
      },
      "name": "Actualizar Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [1850, 100]
    }
  ],
  "connections": {
    "Leer Datos Afiliados": { "main": [[{"node": "Filtrar Pendientes", "type":"main","index":0}]] },
    "Filtrar Pendientes": { "main": [[{"node": "Generar Texto IA", "type":"main","index":0}]] },
    "Generar Texto IA": { "main": [[{"node": "Generar Imagen IA", "type":"main","index":0}]] },
    "Generar Imagen IA": { "main": [[{"node": "Compilar Video", "type":"main","index":0}]] },
    "Compilar Video": { "main": [[{"node": "Acortar enlace Bitly", "type":"main","index":0}]] },
    "Acortar enlace Bitly": { "main": [[{"node": "Publicar Instagram", "type":"main","index":0}, {"node": "Publicar Pinterest", "type":"main","index":0},{"node": "Publicar Twitter", "type":"main","index":0},{"node": "Publicar Facebook", "type":"main","index":0},{"node": "Publicar TikTok", "type":"main","index":0},{"node": "Publicar LinkedIn", "type":"main","index":0},{"node": "Alerta Telegram", "type":"main","index":0},{"node": "Enviar WhatsApp", "type":"main","index":0},{"node": "Actualizar Google Sheet", "type":"main","index":0}]] }
  }
}
