000creacionvideos.json
{
  "nodes": [
    {
      "parameters": {
        "updateType": ["message"],
        "botToken": "{{TELEGRAM_BOT_TOKEN}}",
        "chatId": "{{CHAT_ID}}"
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "model": "openai",
        "apiKey": "{{OPENAI_API_KEY}}"
      },
      "name": "Analyze Image",
      "type": "openai",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "promptTemplate": "Crea un prompt inicial basado en el análisis: {{ $json[\"analysis\"] }}",
        "model": "openai",
        "apiKey": "{{OPENAI_API_KEY}}"
      },
      "name": "Initial Prompt AI Agent",
      "type": "openai",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "return { approved: true };"
      },
      "name": "Auto Approval",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"approved\"]}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "name": "If Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "promptTemplate": "Ajusta el prompt según el análisis: {{ $json[\"promptTemplate\"] }}",
        "model": "openai",
        "apiKey": "{{OPENAI_API_KEY}}"
      },
      "name": "Revised Prompt AI Agent",
      "type": "openai",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "url": "{{VEO3_API_ENDPOINT}}/create",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": {
          "prompt": "={{ $json[\"revisedPrompt\"] }}"
        }
      },
      "name": "Create Veo3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "url": "{{VEO3_API_ENDPOINT}}/status/{{$json[\"jobId\"]}}",
        "method": "GET"
      },
      "name": "Get Veo3 Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1600, 200]
    },
    {
      "parameters": {
        "waitTime": 30000
      },
      "name": "Wait for Veo3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1500, 350]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "binaryData": "={{$binary[\"video\"]}}",
        "parentId": "{{GOOGLE_DRIVE_FOLDER_ID}}"
      },
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "{{GOOGLE_SHEETS_ID}}",
        "range": "Sheet1!A:D",
        "valueInputMode": "RAW",
        "values": [
          ["={{$json[\"promptUsed\"]}}", "={{$json[\"jobId\"]}}", "Video URL", "={{$now}}"]
        ]
      },
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [1800, 450]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Initial Prompt AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Prompt AI Agent": {
      "main": [
        [
          {
            "node": "Auto Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Approval": {
      "main": [
        [
          {
            "node": "If Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved?": {
      "main": [
        [
          {
            "node": "Revised Prompt AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revised Prompt AI Agent": {
      "main": [
        [
          {
            "node": "Create Veo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Veo3": {
      "main": [
        [
          {
            "node": "Wait for Veo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Veo3": {
      "main": [
        [
          {
            "node": "Get Veo3 Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Veo3 Status": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
